@font-face {
  font-family: SourceHanSansCN;
  src: url("~/assets/fonts/SourceHanSansCN-Medium.otf") format("opentype");
}

@font-face {
  font-family: calligraphy;
  src: url("~/assets/fonts/calligraphy.ttf");
}

.f-han {
  font-family: SourceHanSansCN;
}

.f-call {
  font-family: calligraphy;
}

.carousel {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: radial-gradient(transparent 55%, rgba(0, 0, 0, 0.61));
  }
  .carousel-indicators {
    margin: 0;
    padding-right: 1rem;
    justify-content: right;
    button {
      width: 6px !important;
      height: 6px !important;
      border-radius: 50%;
      overflow: hidden;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   bottom: -1px;
    //   left: 0;
    //   right: 0;
    //   background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
    //   z-index: -1;
    // }
  }
}

.deco-title {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 87px;
    background: url(/img/ruyi.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

.response-content {
  max-width: min(1600px, 100%);
  padding: 10px 20px;
  overflow: hidden;
}
